<h1>Events</h1>

{{#each events}}

    <p>{{this.title}}</p>
    <p>Event time: {{this.eventDate}}</p>
    <p>{{this.description}}</p>
    <p><a href="/events/{{this._id}}"`>Show event</a></p>

{{/each}}