<h1>Events</h1>

<div class="d-flex">
    {{#each events}}


    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <h4>Event time: {{this.eventDate}}</h4>
        <p class="card-text"><p class="card-text">{{this.description}}</p></p>
        <p><a href="/events/show/{{this._id}}" class="btn btn-primary"`>Show event</a></p>
    </div>
    
    
    {{/each}}
</div>