<form action="/events/new" method="POST" >
    <div>
        <label>Title</label>
        <input type="text" name="title">
    </div>
    <div>
        <label>Event date</label>
        <input type="datetime-local" name="eventDate">
    </div>
    <div>
        <label>Description</label>
        <textarea name="description"></textarea>
    </div>
    <div>
        <input type="submit">
    </div>
</form>