nav {
   background: rgb(211,45,62);
   font-family: Arial, Helvetica, sans-serif;
}

nav a {
   color: rgb(244,225,97);
}

.form-inline{
   justify-content: center;
}

.card-deck {
   -ms-flex-flow: row wrap;
   flex-flow: row wrap;
   margin-right: 15px;
   margin-left: 15px;
}